*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Bangers", "Roboto", "Zen+Dots", monospace;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

header {
  padding: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

#generateButton {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 9rem;
}

#saveButton {
  width: 7rem;
}

li {
  width: 20rem;
  padding: 0.5rem;
}

li + li {
  margin-top: 0.5rem;
}

.btn-container {
  width: 50ch;
}

button {
  width: 100%;
  display: block;
}
